# Required
POSTGRES_PASSWORD=changeme
POSTGRES_SERVER=changeme

# OIDC (optional, enabled by default)
# OIDC_CONFIGURATION_URL=
# OIDC_CLIENT_ID=
# OIDC_CLIENT_SECRET=

# Optional
# MEALIE_PORT=9925
# BASE_URL=
# POSTGRES_USER=mealie
# POSTGRES_PORT=5432
# POSTGRES_DB=mealie
# ALLOW_SIGNUP=false
# ALLOW_PASSWORD_LOGIN=false
# OIDC_AUTH_ENABLED=true
# OIDC_PROVIDER_NAME=authentik
# OIDC_AUTO_REDIRECT=false
# TZ=Europe/Berlin
