# Ports
# HA_PORT=8123
# MQTT_PORT=8124
# Z2M_PORT=8125
# NJORD_PORT=9090
# NJORD_HEALTH_PORT=9091

# Home Assistant
# HA_SERIAL_DEVICE=/dev/serial1
# HA_CONFIG_PATH=./data
# HA_MAC_DEFAULT=02:42:ac:11:00:02
# HA_MAC_VLAN=02:42:ac:12:00:02
# HA_VLAN_IP=10.44.88.254

# MQTT
# MQTT_CONFIG_PATH=./mosquitto/config
# MQTT_DATA_PATH=./mosquitto/data
# MQTT_LOG_PATH=./mosquitto/log

# Zigbee2MQTT
# Z2M_DATA_PATH=./zigbee2mqtt/data

# Matter
# MATTER_LOG_LEVEL=info
# MATTER_BLE_PROXY=true
# MATTER_DATA_PATH=./matter/data

# Njord
# NJORD_POLL_INTERVAL=01:00:00
# NJORD_FORECAST_DAYS=7
# NJORD_LOCATION_NAME=vreden
# NJORD_LOCATION_LAT=52.0379
# NJORD_LOCATION_LON=6.828

# Network
# VLAN_PARENT=vlan88
# VLAN_SUBNET=10.44.88.0/24

# Optional
# TZ=Europe/Berlin
