# Required
PERIPHERY_CORE_ADDRESS=changeme
PERIPHERY_CONNECT_AS=changeme

# Optional — create an Onboarding Key in the Komodo UI for auto-registration
# PERIPHERY_ONBOARDING_KEY=

# Optional
# KOMODO_IMAGE_TAG=2
# PERIPHERY_ROOT_DIRECTORY=/etc/komodo
# PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname
# PERIPHERY_DISABLE_TERMINALS=false
# PERIPHERY_DISABLE_CONTAINER_TERMINALS=false

# Containers
# PERIPHERY_CONTAINER_NAME=komodo-periphery

# TZ=Europe/Berlin
