instances:
  - name: sonarr
    type: sonarr
    url: ${SONARR_API_URL}
    apiKey: ${SONARR_API_KEY}
    searchMode: both
    monitoredOnly: true
    limit: 15
    dryRun: false
    searchFrequencyHours: 6

  - name: radarr
    type: radarr
    url: ${RADARR_API_URL}
    apiKey: ${RADARR_API_KEY}
    searchMode: all
    monitoredOnly: true
    limit: 10
    dryRun: false
    searchFrequencyHours: 12

schedule:
  intervalMinutes: 120
