# Required
NUT_DRIVER=usbhid-ups
NUT_API_PASSWORD=changeme

# Optional
# NUT_NAME=ups
# NUT_PORT=auto
# NUT_POLLINTERVAL=15
# NUT_API_USER=upsmon
# NUT_BIND=3493
# PEANUT_PORT=8080
# PEANUT_WEB_PORT=8080
# TZ=Europe/Berlin
