# Required
HOST_HOSTNAME=changeme
REMOTE_WRITE_URL=changeme
LOGS_PUSH_URL=changeme

# Optional
# NUT_SERVER=host.docker.internal
# NUT_PORT=3493
# NUT_USER=
# NUT_PASSWORD=
# NUT_EXPORTER_TARGET=nut-exporter:9199
# SCRAPE_INTERVAL=30s
# TZ=Europe/Berlin
