[defaults]
inventory = hosts.yml
roles_path = roles
private_key_file = ~/.ssh/id_ansible
interpreter_python = auto_silent
vars_plugins_enabled = host_group_vars,community.sops.sops
stdout_callback = ansible.builtin.default
result_format = yaml
display_skipped_hosts = false
diff_mode = true
show_task_path_on_failure = true
callbacks_enabled = timer, profile_roles
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 3600

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
