# Required
PIHOLE_PASSWORD=changeme

# Nebula Sync (optional)
# NEBULA_PRIMARY=
# NEBULA_REPLICAS=
# NEBULA_FULL_SYNC=true
# NEBULA_RUN_GRAVITY=true
# NEBULA_CRON=0 23 * * *

# Ports
# PIHOLE_DNS_PORT=53
# PIHOLE_WEB_PORT=1000

# Paths
# PIHOLE_DATA_PATH=./data/pihole
# PIHOLE_DNSMASQ_PATH=./data/dnsmasq.d

# Optional
# TZ=Europe/Berlin
